*{
    width: auto;
    height: auto;
}
body{
    background-color: #3946AF;
    font-family: 'poppins';
    color: #FFFF;
}
main{
    display: flex;
    max-height: 100vh;
}
#titulo{
    font-size: 80px;
}
.cronometro {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.cronometro p{
    font-size: 25px;
    text-align: center;
    margin-left: 20px;
}
.relogio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px; /* Largura do input */
    height: 600px; /* Altura do input */
    border-radius: 50%; /* Faz o input ficar circular */
    border: 2px solid #FFFF; /* Borda do input */
    background-color: #111339; /* Cor de fundo do input */
    color: #FFFF; /* Cor do texto */
    text-align: center; /* Centraliza o texto dentro do input */
    font-size: 56px; /* Tamanho da fonte */
    margin-left: 40px;
}
.input-circular{
    background-color: #111339; /* Cor de fundo do input */
    color: #FFFF; /* Cor do texto */
    text-align: center; /* Centraliza o texto dentro do input */
    font-size: 56px; /* Tamanho da fonte */
    border: none;
    width: 90%;
}
.input-circular::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Remove os botões de incremento/decremento */
}
#iniciar{
    margin-top: 40px;
    font-size: 38px;
    font-family: "poppins";
    background-color: #111339;
    color: #FFFF;
    padding: 12px 8rem;
    border-radius: 20px;
    border: 1px solid #111339;
}
#valueShow{
    display: none;
    font-size: 56px; /* Tamanho da fonte */
}
#showMessage{
    display: none;
}